body {
    background: purple;
}

nav ul,
.menu_item {
    display: inline-block;
    height: 24px;
    list-style: none;
    background: turquoise;
}

img {
    max-width: 100%;
}

.menu_item {
    border: 1px dotted pink;
}

li:nth-child(2n+3):nth-child(-n+7) {
    background: black;
    color: pink
}