<p>
Ajax Example
</p>

<button id="last_usr_btn" data-last-user="<%= last_user_url %>">
    Ver ultimo usuario
</button>
<button id="new_rand_usr_btn" data-rand-user="<%= random_user_url %>">
    Crear nuevo usuario alteatorio
</button>